.fieldContainer {
    display: flex;
    padding: 8px 8px 8px 12px;
    width: 100%;
}

.labelContainer {
    padding: 8px 16px 4px 4px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
}

.label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87) !important; 
}

.inputContainer {
    display: flex;
    flex-basis: 150px;
    flex-grow: 1;
    gap: 4px;
    align-items: center;
}

.input {
    flex-grow: 1;
}

:global(.app-shell-app) {
    background-color: #fbfcfd;
    border-block-end: 1px solid #e8edf2;
}
